body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange-color{
    color: orange;
}
.container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 80%;
}
.hire-botton{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    background-image: linear-gradient(#f1ab28e7, tomato);
    padding: 10px 40px;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.big-dream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.h1padding{
    padding-left: 2%;
}
.card{
    text-align: ;
    width: 40%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 40px;
    border-radius: 10px;
    box-shadow: 5px 7px 40px #585858;
}
#pro{
    border-left: 8px solid tomato;
    /*border-image: linear-gradient(red, blue)10;*/
}
#baby{
    border-left: 8px solid royalblue;
}
footer{
    text-align: center;
}