body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 80%;
}
.hire-botton{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    background-image: linear-gradient(#f1ab28e7, tomato);
    padding: 10px 40px;
    border-radius: 5px;
}
.bg-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}